.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    font-weight: bold;
    color: var(--gold);
  }

  .actions {
    display: flex;
    gap: 15px;
  }
}