.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    font-weight: bold;
  }

  .actions {
    display: flex;
    gap: 15px;
  }

  button {
    padding: 10px 16px;
    font-size: 18px;
    border: 0;
    background: #fff;
    border-radius: 2px;
  }
}