.form {
  h1 {
    margin-bottom: 24px;
    color: #fff;
  } 

  margin: auto;
  width: 600px;
  max-width: 90%;
  text-align: center;

  label {
    text-align: center;
  }

  input {
    display: block;
    margin: 8px auto;
    padding: 8px 16px;
    font-size: 20px;
    font-family: monospace;
    color: #fff;
    font-weight: normal;
  }

  button {
    margin-top: 20px;
    padding: 10px 16px;
    font-size: 18px;
    border: 0;
    background: #fff;
    border-radius: 2px;
  }
}
